# Application
NODE_ENV=development
STAGE=prod

# MongoDB
MONGODB_DB_NAME=gym-challenge
MONGODB_URI_OPTIONS=authSource=admin
MONGODB_URL=mongodb://cluster0.fxvkim1.mongodb.net
MONGODB_USER=
MONGODB_PASSWORD=